In [1]:
import pandas as pd
from sklearn.metrics import f1_score

In [2]:
# read the json file
df = pd.read_json("../dataset/amazon/llm_graph_gpt3_h3.json")
df.head(3)

,productId,Title,userId,Helpfulness,Score,Time,Text,Cat1,Cat2,Cat3,gpt3_graph,gpt3_graph_h2,gpt3_graph_h3
0,B0002AQK70,PetSafe Staywell Pet Door with Clear Hard Flap,A2L6QTQQI13LZG,1/1,4,1344211200,We've only had it installed about 2 weeks. So ...,pet supplies,cats,cat flaps,pet supplies,dogs,doors
1,B0002DK8OI,"Kaytee Timothy Cubes, 1-Pound",A2HJUOZ9R9K4F,0/0,1,1344211200,My bunny had a hard time eating this because t...,pet supplies,bunny rabbit central,food,pet supplies,bunny rabbit central,food
2,B0006VJ6TO,Body Back Buddy,A14PK96LL78NN3,0/0,5,1344211200,would never in a million years have guessed th...,health personal care,health care,massage relaxation,health personal care,health care,massage relaxation

In [3]:
df["gpt3_graph_h3"] = df["gpt3_graph_h3"].str.replace("*", "").str.replace("'", "").str.replace('"', '')
df["gpt3_graph_h3"] = df["gpt3_graph_h3"].apply(lambda x: x if x in df["Cat3"].values else df["Cat3"].sample(1).values[0])
f1_h3 = f1_score(df["gpt3_graph_h3"], df["Cat3"], average="macro")
f1_h3

0.44481291814438895

In [4]:
df["gpt3_graph_h2"] = df["gpt3_graph_h2"].str.replace("*", "").str.replace("'", "").str.replace('"', '')
# df["gpt3_graph_h2"] = df["gpt3_graph_h2"].fillna(df["Cat2"].sample(len(df)))
df["gpt3_graph_h2"] = df["gpt3_graph_h2"].apply(lambda x: x if x in df["Cat2"].values else df["Cat2"].sample(1).values[0])
f1_h2 = f1_score(df["gpt3_graph_h2"], df["Cat2"], average="macro")
f1_h2

0.6549485676618475

In [5]:
df["gpt3_graph"] = df["gpt3_graph"].str.replace("*", "").str.replace("'", "").str.replace('"', '')
df["gpt3_graph"] = df["gpt3_graph"].apply(lambda x: x if x in df["Cat1"].values else df["Cat1"].sample(1).values[0])
f1_only = f1_score(df["gpt3_graph"], df["Cat1"], average="macro")
f1_only

0.9087607336430642